.text-field {
    -fx-text-fill: #930b1e;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-opacity: 0.5;
    -fx-border-color: #930b1e;
}

.text{
    -fx-text-fill: #930b1e;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.parent{
    -fx-background-image: url("https://oop.wagjo.com/assets/calculator.jpeg");
}